.dndflow {
    flex-direction: column;
    display: flex;
    flex-grow: 1;
    height: 100%;
  }
  .header{
    width: 100%;
    height: auto;
    font-weight: bold;
    padding:20px;
    border-bottom: 2px solid rgb(101, 188, 231);
  }
  .dndflow aside {
    border-right: 1px solid #eee;
    width: auto;
    padding: 15px 10px;
    font-size: 12px;
    background: #fcfcfc;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1rem;
  }
  .dndnode_data{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  .newNode_data{
    height: 40px;
  }
  .dndnode_input_type{
    width: 15%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-right: 1px solid rgb(101, 188, 231);
  }
  .dndnode_output_type{
    width: 15%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 1px solid rgb(101, 188, 231);
  }
  .dndnode_name{
    width: 70%;
    text-align: center;
  }
  
  .dndflow aside .description {
    margin-bottom: 10px;
  }
  
  .dndflow .dndnode {
    padding: 4px;
    border: 1px solid rgb(101, 188, 231);
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
  }
  
  .dndflow .dndnode.input {
    border-color: rgb(101, 188, 231);
  }
  
  .dndflow .dndnode.output {
    border-color: #ff0072;
  }
  
  .dndflow .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
  }
  
  .dndflow .selectall {
    margin-top: 10px;
  }
  
  .flow_node {
    font-size: 8px;
  }

  .react-flow__node-default {
    padding: 5px 8px;
  }
  .react-flow__node-input {
    padding: 7px 8px;
  }

  .flow_node .dndnode_input_type, .flow_node .dndnode_output_type {
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }